local.mk

src/dnethack
util/recover
util/makedefs
util/dlb
util/dgn_comp
util/lev_comp
util/tilemap

*.o
*.d

include/date.h
include/onames.h
include/gnames.h
include/pm.h
include/verinfo.h
include/dgn_comp.h
include/lev_comp.h

src/monstr.c
util/dgn_yacc.c
util/lev_yacc.c
util/dgn_lex.c
util/lev_lex.c
src/tile.c

dat/*.tag
dat/nhdat
dat/data
dat/options
dat/oracles
dat/quest.dat
dat/rumors
dat/dungeon
dat/dungeon.pdf
dat/dngnch1
dat/dngnch1.pdf
dat/dngnch2
dat/dngnch2.pdf
dat/dngnch3
dat/dngnch3.pdf
dat/*.lev

.DS_STORE
dnethackdir
mat